@use './variables' as *;
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $font-fm;
    // 
    transition: all 0.3s ease;
}

:root {
    color-scheme: dark light;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: $fw-400;
}

h1,
p {
    margin: 0;
}

a {
    font-weight: 500;
    // color: $dark-grayish-blue;
    text-decoration: none;
    font-weight: $fw-700;
}

section {
    margin: 0 25rem !important;
    max-width: 100%;
}

header {
    height: 45vh;
    width: 100%;
    // 
    margin: 0;
    position: relative;
    top: -21px;
    left: 0;
    // 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    // 
    // color: $white;
    .header__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 2.5rem;
        &--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: green;
            width: 100%;
        }
    }
    input {
        // background-color: red;
        // padding: .5rem;
        outline: none;
        border: 0;
        font-size: .8rem;
        width: 100%;
        font-size: .9rem;
        font-weight: $fw-700;
        // color: $very-dark-grayish-blue;
        background-color: transparent;
        // line-height: 1.5rem;
    }
    #theme-cog {
        display: block;
        width: 25px;
        height: 25px;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}

h1 {
    letter-spacing: .7rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.task {
    display: flex;
    align-items: center;
    // 
    width: 100%;
    max-width: 100%;
    // 
    // background-color: $white;
    // 
    padding: 1.4rem 1rem;
    // margin: 1rem auto;
    border-radius: .3rem;
    // 
    position: relative;
    //
    &[draggable="true"] {
        cursor: move;
        &.dragging {
            opacity: .5;
        }
    }
    // 
    & .checker {
        content: "";
        // position: absolute;
        width: 20px;
        height: 20px;
        margin-right: 1.2rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
    }
}

.task-items {
    position: relative;
    top: -4rem;
    // background-color: $white;
    border-radius: .3rem;
    // box-shadow: $shadow;
    max-width: 100%;
}

.task__group {
    max-width: 100%;
    .task {
        border-radius: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        background-color: inherit;
        //
        &:first-of-type {
            border-radius: .3rem .3rem 0 0;
        }
        //         
        // 
        p {
            margin-right: auto;
            cursor: pointer;
            // color: $very-dark-grayish-blue;
        }
        // 
        & .checker {
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            // border-color: transparent;
            img {
                visibility: hidden;
            }
        }
        & .canceler {
            content: "";
            width: 14px;
            height: 14px;
            cursor: pointer;
            margin-right: .5rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('/images/icon-cross.svg');
            background-size: contain;
            // background-size: 50%;
            // border-color: transparent;
            visibility: hidden;
            z-index: 2;
        }
        &[data-completed="true"] {
            p {
                // color: $light-grayish-blue;
                text-decoration: line-through;
            }
            & .checker {
                // content: ;
                // content: url('/images/icon-check.svg');
                display: flex;
                align-items: center;
                justify-content: center;
                background: $checkbox-background;
                border-color: $checkbox-background;
                // background: linear-gradient( to right, red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
                img {
                    visibility: visible;
                }
            }
        }
        &:hover {
            & .checker {
                border-color: $checkbox-background;
            }
            & .canceler {
                visibility: visible;
            }
        }
    }
}

.task__actions {
    // background-color: red;
    margin-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: .8rem;
    max-width: 100%;
    .links {
        display: flex;
        // background-color: red;
        width: fit-content;
        a {
            display: block;
            margin-right: .5rem;
            margin-left: .5rem;
        }
    }
}

footer {
    position: relative;
    top: -2rem;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            display: block;
            font-size: .9rem;
        }
        .attribution {
            margin-top: 1.5rem;
            font-size: .55rem;
        }
    }
}