$mobile--breakpoint:800px;
// Primary Colors
$bright-blue: hsl(220, 98%, 61%);
// Checkbox
$checkbox-background:hsl(280, 87%, 65%);
$shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// Neutral Colors
// Light Theme
$white: #fff;
$very-light-gray:hsl(0, 0%, 98%);
$very-light-grayish-blue:hsl(236, 33%, 92%);
$light-grayish-blue:hsl(233, 11%, 84%);
$dark-grayish-blue:hsl(236, 9%, 61%);
$very-dark-grayish-blue:hsl(235, 19%, 35%);
// Dark Theme
$very-dark-gray:hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue--dark-mode:hsl(234, 39%, 85%);
$light-grayish-blue-hover--dark-mode:hsl(236, 33%, 92%);
$dark-grayish-blue--dark-mode:hsl(234, 11%, 52%);
$very-dark-grayish-blue--dark-mode:hsl(233, 14%, 35%);
$very-dark-grayish-blue-alt--dark-mode:hsl(237, 14%, 26%);
// Font size
$font-sz:18px;
$font-fm:'Josefin Sans',
sans-serif;
$fw-400:400;
$fw-700:700;